version: "3"
services:
  maze-wars:
    build:
      context: ..
      dockerfile: docker/Dockerfile.maze-wars.dev
      args:
        VERSION: ${VERSION}
    ports:
      - '5555:5555'
    environment:
      - PORT=5555
