{{template "main" .}}
{{define "title" }}
  Maze Wars - New Room
{{ end }}
{{define "content"}}
  <div class="px-3">
		<form action="/rooms" method="POST">
			<div class="mb-3">
				<label for="name" class="form-label">Player Name</label>
				<input name="name" type="text" class="form-control" id="name">
			</div>
			<div class="mb-3">
				<label for="room" class="form-label">Room</label>
				<input name="room" type="text" class="form-control" id="room">
			</div>
			<button type="submit" class="btn btn-primary">Enter</button>
		</form>
	</div>
{{ end}}
