<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #loading {
        margin-top: 240px;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <center>
      <p id="loading">LOADING GAME ...</p>
    </center>
  </body>
</html>
<script src="/js/wasm_exec.js"></script>
<script>
  // Polyfill
	if (!WebAssembly.instantiateStreaming) {
		WebAssembly.instantiateStreaming = async (resp, importObject) => {
			const source = await (await resp).arrayBuffer();
			return await WebAssembly.instantiate(source, importObject);
		};
	}

	const go = new Go();
	WebAssembly.instantiateStreaming(fetch("/wasm/maze-wars.wasm"), go.importObject).then(result => {
    var loading = document.getElementById("loading")
    go.run(result.instance);
    loading.remove()
    var currentUrl = new URL(document.referrer);
    const urlParams = new URLSearchParams(currentUrl.search);

    // Origin includes the schema
    const host = currentUrl.origin
    const err = new_client(host,{{.version}});
    if (err != null) {
      console.log("error",err)
    }
	});
</script>
