{{template "main" .}}
{{define "title" }}
  Maze Wars - Play
{{ end }}
{{define "content"}}
    <script
      src="https://js-de.sentry-cdn.com/e585f63e10ab2975e282a52d83bd3304.min.js"
      crossorigin="anonymous"
    ></script>
  <div class="px-3">
    </br>
    </br>
		<iframe id="iframe" src="/game" width="850" height="1000" scrolling="no"></iframe>
    <center>
      <button id="fullscreen" class="btn btn-lg btn-light fw-bold border-white bg-white">Full Screen</a>
    </center>
	</div>
  <script>
    var fullscreen = "fullscreen"
    var btn = document.getElementById(fullscreen);
    var iframe = document.getElementById("iframe");

    function toggleFullscreen() {
      let elem = document.querySelector("iframe");

      if (!document.fullscreenElement) {
        elem.requestFullscreen().catch((err) => {
          alert(
            `Error attempting to enable fullscreen mode: ${err.message} (${err.name})`,
          );
        });
      } else {
        document.exitFullscreen();
      }
    }

    btn.onclick = toggleFullscreen

  </script>
{{ end}}
