{{template "main" .}}
{{define "title" }}
  Maze Wars - Home
{{ end }}
{{define "content"}}
  <div class="px-3">
    <p class="lead">
      <strong>Bring your enemies lives to 0 by stealing them</strong>
    </p>
    <p class="lead">
      <strong>with your summoned units passing through their mazes,</strong>
    </p>
    <p class="lead">
      <strong>but be careful, they'll do the same to you!</strong>
    </p>
    <p class="lead">
      <a href="/play" class="btn btn-lg btn-light fw-bold border-white bg-white">Play</a>
    </p>
  </div>
{{ end}}
