{{template "main" .}}
{{define "title" }}
  Maze Wars - Home
{{ end }}
{{define "content"}}
  <div class="px-3">
		<h1>Maze Wars</h1>
		<p class="lead">
			Short description of the game
		</p>
		<p class="lead">
			<a href="/rooms/new" class="btn btn-lg btn-light fw-bold border-white bg-white">Play</a>
		</p>
	</div>
{{ end}}
